
h1 {
    text-align: center;
  
  }

  body {
    background-image: url("https://free4kwallpapers.com/uploads/originals/2015/07/18/simple-backgrounds.jpg");
    background-size: fixed;
    background-position: 100% 100%;
    } 
    
  a {
    text-align: center;
  
  }
    
  div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 28px;
  }  